@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: oklch(0.208 0.042 265.755);
        border-radius: 100vh;
        border: 6px solid oklch(0.278 0.033 256.848);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: oklch(0.129 0.042 264.695);
    }
}
